<section class="relative" style="z-index: 41;">
  <div data-text-color="#FFFFFF" class="relative z-10 flex justify-center flex-none break-word transition-all duration-300 pointer-events-none items-center fix-safari-flickering" data-combine-with-header="false" style="min-height: calc(52px); padding-bottom: 64px; clip-path: url(&quot;#4feb6d69-a77c-4a26-9ceb-8b8fdd9189b7&quot;);">
    <div class="absolute inset-0 pointer-events-none">
      <div class="absolute inset-0 z-5 transition-all duration-300" style="background-color: rgb(62, 139, 166); opacity: 0.7;">
        </div>
        <div class="absolute inset-0 z-0 transition-all duration-300" style="background-image: url(&quot;https://cdn.durable.co/covers/29mRoVDSTnpcnBPAcO8PivXew8K98dpUCZH9AB4T57OcEXDd80oj1JG7iaIV1KdH.jpg&quot;); background-position: center center; background-size: cover;">
          </div>
          </div>
          <div class="relative z-10 container mx-auto px-5 md:px-6 transition-all duration-300 pt-12 lg:pt-40 pb-12 lg:pb-40">
            <div class="relative z-10 w-full h-full opacity-100 translate-y-0 undefined" style="">
              <div class="max-w-3xl transition-all duration-300 text-left ml-0 mr-auto">
                <h2 class="mb-6 break-word transition-all duration-300 text-left heading-xlarge" style="color: rgb(255, 255, 255); font-family: var(--head-fontFamily); font-weight: var(--head-fontWeight); font-style: var(--head-fontStyle);">Experience Tsim Sha Tsui's Best Guesthouse
                </h2>
                <p class="transition-all duration-300 body-large" style="color: rgb(255, 255, 255); scroll-behavior: smooth; font-family: var(--body-fontFamily); font-weight: var(--body-fontWeight); font-style: var(--body-fontStyle);">Stay at Majestic 7 for a memorable and comfortable stay in Tsim Sha Tsui.
                </p>
                <div class="flex md:inline-flex flex-col md:flex-row md:gap-4 ">
                  <button class="website-button xl w-full md:w-max mt-6 lg:mt-8" style="border-width: 2px; border-style: solid; box-shadow: none; scroll-behavior: smooth; font-family: var(--body-fontFamily); font-weight: var(--body-fontWeight); font-style: var(--body-fontStyle); background-color: rgb(32, 48, 53); color: rgb(255, 255, 255); border-radius: 8px; border-color: rgb(32, 48, 53);">Book Now
                  </button>
                  </div>
                  </div>
                  </div>
                  </div>
                  <svg class="absolute bottom-0 left-0" width="1060" height="630" viewBox="0 0 1060 630">
                    <defs><clipPath id="4feb6d69-a77c-4a26-9ceb-8b8fdd9189b7">
                      <rect width="1060" height="566" fill="transparent">
                        </rect>
                        <path d="M0 0 C530 64 530 64 1060 0 L1060 0 L0 0" transform="translate(0, 566)" fill="transparent">
                          </path>
                          </clipPath>
                          </defs>
                          </svg>
                          </div>
                          </section>